{% extends 'base.html'%}
<h1> News Highlight {{ id }} </h1>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Our News Info </title>
        {% endif %}
        

    
    </head>
    <body>
        {% block content %}
        <div class="">
            <div class="row">
                {% for source in general_source %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 id0Path" style="background: url({{source.id}}) no-repeat center center">
                    <a href={{source.url}} target="_blank">
                    <img src={{source.urlToImage}} alt="IMAGE LOADING..." height="200">
                    </a>

                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 source-details">
                    <h3>{{ source.name }}</h3>
                    <p> {{ source.description }}</p>
                    <p>Posted on {{source.publishedAt}} </p>

                    <p> {{source.category}}...
                       <a href={{source.url}} target="_blank">Read More</a>
                    </p>

                </div>
            </div>
               {% endfor %}
        </div>
        {% endblock %}

    </body>
</html>
