{% import 'macros.html' as macro%}

<h3> {{ title }} </h3>
<h1> {{ message }} </h1>


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Our News Info </title>
        {% endif %}
    </head>
    <body>
       <!-- general source -->
  <h3> general source</h3>
  <ul>
      {{ macro.displaySourceList(popular)}}
  </ul>
  <!-- Upcoming source  -->
  <h3> Upcoming source </h3>
  <ul>
      {{ macro.displaySourceList(upcoming)}}
  </ul>
  <!-- Now showing Source -->
  <h3>Now Showing</h3>
  <ul>
      {{ macro.displaySourceList(now_showing)}}
  </ul>
    </body>
</html>


  