{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<h3> {{ title }} </h3>




<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Our News Info </title>
        {% endif %}
        <!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
        {% endblock %}
    </head>
    <body class="listarticles">

        {% block content %}
        <h1 class="title"> {{ message }} </h1>
        <div class="general">
            <!-- general source -->
        <h3> General source</h3>
        <ul>
            {{ macro.displaySourceList(general)}}
            
        </ul>
        </div>
 
        <div class="health">
        <!-- health source  -->
        <h3> Health source </h3>
        <ul>
            {{ macro.displaySourceList(health)}}
        </ul>
        </div>

        <div class="business">
        <!-- business Source -->
        <h3>Business source</h3>
        <ul>
            {{ macro.displaySourceList(business)}}
            
        </ul>
        </div>
        {% endblock%}
   
    </body>
</html>

  