<h3> {{ title }} </h3>
<h1> {{ message }} </h1>


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Our News Info </title>
        {% endif %}
    </head>
    <body>
        <!-- source section  -->
        <h3> General Source</h3>
        <ul>
            {% for general_source in general %}
                <li>{{ general_source.id}}</li>
            {% endfor %}
        </ul>
    </body>
</html>
